<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find My Stock</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}" type="text/css">

</head>
<body>

    <table class="header2">
        <tr>
            <td>
                <a href="" class="cursor-pointer">
                    <img src="../static/images/stockClipart.png" alt="Stock Clipart Placeholder" width="100" height="40"/>
                </a>
            </td>
        </tr>
    </table>
<br><br>
    <table class="tableTile">
        <tr>
            <td>
                <form action="{{ url_for('search') }}" method="POST" >

                <label>Enter a symbol:</label>
                 {{ form.symbol }}<br>
                <br><br>


                <input type="submit" value="Search" class="button">
                </form>
            </td>
        </tr>

    </table>
{{ company_name}}
</body>
</html>