<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
    <style>
      body {
        font-family: 'Roboto', serif;
        font-size: 20px;
        background-color: #e0ecff;
      }
    </style>
</head>
<body>
<br>
    <form action="{{ url_for('search') }}" method="POST">

    <label>Enter a symbol:</label>
                 {{ form.symbol }}<br>
    <br><br>

    <input type="submit" value="Search">
    </form>
{{ company_name}}
</body>
</html>